/* Centrar el título de SERVICIOS DISPONIBLES */
h1.servicios-titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #2c2c6c; /* Puedes cambiar el color según prefieras */
}
h3.pieinfo{
  text-align: center;
}

h1.titulogen{
  color: #ffffff;
}
.app-container {
  background-color: rgb(255, 255, 255);
  color: #333;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Encabezado */
.header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  height: 60px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c2c6c; /* Cambia el color según lo que prefieras */
  margin-left: 10px;
}

.nav a {
  color: rgb(10, 10, 10);
  margin: 0 15px;
  text-decoration: none;
  font-size: 1rem;
}

.nav a:hover {
  text-decoration: underline;
}

/* Sección hero */
.hero-section {
  text-align: center;
  padding: 60px 20px;
  /* background-color: #2c2c6c;  */
  background-image: url('./imagenes/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  margin-top: 70px; 
}
.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.cta-btn {
  padding: 10px 20px;
  background-color: white;
  color: #010505;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}
.app-btn {
  padding: 10px 20px;
  background-color: rgb(107, 221, 117);
  color: #010505;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  margin-left: 30px; /* Esto separa el botón de la izquierda */
}

.app-btn:hover {
  background-color: #b0e093;
}

.cta-btn:hover {
  background-color: #a59bda;
}

/* Sección de información */
.info-section {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.info-card {
  background-color: white;
  width: 300px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(255, 255, 255, 0.2);
}

.info-card img {
  width: 100%; /* Hacer que todas las imágenes ocupen el 100% del ancho disponible */
  height: 200px; /* Establecer una altura fija */
  object-fit: cover; /* Asegura que la imagen se recorte para llenar el área sin deformarse */
  border-radius: 10px;
  margin-bottom: 20px;
}

.info-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.info-card p {
  font-size: 1rem;
  color: #666;
}

/* Pie de página */
.footer {
  background-color: #2c2c6c;
  color: #ffffff;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.footer .logo {
  max-width: 100px; /* Ajustar el tamaño del logo */
  height: auto; /* Mantener las proporciones del logo */
  margin: 0 auto; /* Centrar la imagen */
}
select {
  appearance: none; /* Elimina el estilo predeterminado */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
